////////////////////////
//  GOOGLE FONTS CDN  //
////////////////////////
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// @import url('//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
// @import url('//fonts.googleapis.com/css?family=Lato:400,700,900');
// @import url('//fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('//fonts.googleapis.com/css?family=Oswald:300,400,600,700');
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
// @import url('//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

html {
	font-size: 100%;
}

$heads: $oswald;
$alt-heads: $open;
$copy: $open;

$heads-color: $color-p;
$alt-heads-color: $blackish;

$anchors: $color-p;
$hovers: $blacker;

body {
	color: $blackish;
	font-family: $copy;
}

h1, h2, h3, h4, h5, h6 {
	// color: $heads-color;
	// font-family: $heads;
}

h1, h2, h3, h4 {
	color: $heads-color;
	font-family: $heads;
	line-height: 1.1em;
	font-weight: 500;
	margin-bottom: 0.420em; // BLUES
}

h5, h6 {
	color: $heads-color;
	font-family: $alt-heads;
	margin-bottom: 0;
	line-height: 1.25em;
}

h1 {
	@include small-down {
		@include font-size(44px);
	}

	@include medium {
		@include font-size(50px);
	}

	@include large {
		@include font-size(56px);
	}
}

h2 {
	@include small-down {
		@include font-size(36px);
	}

	@include medium {
		@include font-size(42px);
	}

	@include large {
		@include font-size(46px);
	}
}

h3 {
	@include small-down {
		@include font-size(26px);
	}

	@include medium {
		@include font-size(32px);
	}

	@include large {
		@include font-size(38px);
	}
}

h4 {
	@include small-down {
		@include font-size(20px);
	}

	@include medium {
		@include font-size(24px);
	}

	@include large {
		@include font-size(28px);
	}
}

h5 {
	@include small-down {
		@include font-size(15px);
	}

	@include medium {
		@include font-size(16px);
	}

	@include large {
		@include font-size(22px);
	}
}

h6 {
	text-transform: uppercase;
}

p, li, blockquote, h6 {
	@include mobile {
		@include font-size(16px);
	}

	@include small {
		@include font-size(15px);
	}

	@include medium {
		@include font-size(16px);
	}

	@include large {
		@include font-size(17px);
	}

	@include xlarge {
		@include font-size(18px);
	}

	@include xxlarge {
		@include font-size(18px);
	}

	a {
		font-weight: 600;
	}

	strong {
		color: $color-p;
	}
}

strong {
	color: $color-p;
}

ul, ol {
	// margin: .75em 0 1.5rem 1.5em;
	// margin: .75rem 0 1.5rem 1.5rem;

	li {
		// line-height: 1.5em;
		// margin-bottom: .75em;
	}
}

#{$a-tags} {
	color: $color-p;

	&:hover {
		color: $blacker;
	}
}

a {
	h1, h2, h3, h4, h5, h6 {
		color: $color-p;
		text-decoration: none;
	}

	&:hover {
		color: $blacker;
		h1, h2, h3, h4, h5, h6 {
			text-decoration: underline;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	a {
		color: $color-p;
		text-decoration: none;

		&:hover {
			color: $blacker;
			text-decoration: underline;
		}
	}
}

.notes {
	font-size: .8em;
	color: #666;
	font-style: italic;
	line-height: 1.35em;
}

.title {
	margin-top: 0;
}

.dark-panel {
	* {
		color: #fff;
	}
}
